.list-item {
  margin-bottom: 16px;
  border: 6px solid #353b48;
  border-radius: 9px;
  padding: 16px;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-flex {
  display: flex;
  align-items: center;
  flex: 1.5;
  gap: 8px;
}

.todo-name {
  border-right: 6px;
  border-color: #ff5c35;
  justify-content: left;
  flex: 0.6;
}

.todo-description {
  flex: 0.8;
}

.todo-category {
  text-align:center;
  background-color:#ff5c35;
  border-radius: 6px;
  border: 6px;
  flex: 0.6;
}

.item-actions {
  display: flex;
  flex: 0.5;
  gap: 8px;
  justify-content: right;
}
