.list-item {
  margin-bottom: 16px;
  border: 6px solid;
  border-radius: 9px;
  padding: 16px;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-flex {
  display: flex;
  align-items: center;
  flex: 1.5;
  gap: 8px;
}

.todo-name {
  flex: 1;
}

.todo-description {
  flex: 1;
}

.item-actions {
  display: flex;
  flex: 0.5;
  gap: 8px;
}

