<div class="dashboard-container">
  <app-navbar></app-navbar>
  <mat-card>
    <mat-card-content>
      <mat-tab-group class="custom-tab">

        <mat-tab label="Tasks">
          <app-list-todos></app-list-todos>
        </mat-tab>

        <mat-tab label="Categories">
          <mat-list>
            <mat-list-item *ngFor="let category of categories">
              <p matLine>{{ category.name }}</p>
              <button mat-icon-button (click)="editCategory(category)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteCategory(category)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <div class="floating-button">
    <button mat-fab aria-label="Add Task" (click)="addTask()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
