<mat-drawer-container class="container">
  <mat-drawer mode="side" [opened]=isAuthenticated()>
    <mat-nav-list>

      <h2 class="header-container">
        <mat-icon class="header-icon-display" matListItemIcon>beenhere</mat-icon>
        <span class="header">TODO APP</span>
      </h2>

      <a mat-list-item routerLink="/account-settings">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span class="nav-list-items">Account Settings</span>
      </a>

      <a mat-list-item routerLink="/list-todos">
        <mat-icon matListItemIcon>tasks</mat-icon>
        <span class="nav-list-items">All My Todos</span>
      </a>

      <a mat-list-item routerLink="/todo-list">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span class="nav-list-items">All My Categories</span>
      </a>

      <a mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span class="nav-list-items">Log Out</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
