
.dashboard-container{
  margin: auto auto;
  border-radius: 15px;
  width: 1000px;
  height: 1000px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}



.mat-card {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  background-color: #ff5c35;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}



.mat-tab-header-pagination {
  background-color: #ff5c35;
}



.mat-list-item:last-child {
  border-bottom: none;
}

.mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-icon-button {
  color: #ff5c35;
}

.custom-tab .mat-ink-bar {
  background-color: #ff5c35;
}

.tab-content {
  padding: 16px;
}

.list-item {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-flex {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 8px;
}

.todo-name {
  flex: 1;
}

.todo-description {
  flex: 1;
}

.item-actions {
  display: flex;
  gap: 8px;
}

.floating-button {
  position: absolute;
  bottom: 18px;
  right: 18px;
  z-index: 999;
}

.mat-fab{
  color: #ff5c35;
}

