@import 'ngx-toastr/toastr'; /* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-dialog-content {
  background-color: #ce9e62 !important;

}

mat-dialog-container{
  border-radius: 9px;
}

mat-dialog-actions {
  background-color: #ce9e62 !important;
}

